<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="#2C79C6"/>

  <link rel="apple-touch-icon" href="/icons/apple-touch-icon-180x180.png">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="icon" href="./resto-icon.png">

  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  <title>Restaurant Apps</title>
</head>

<body>
  <a href="#maincontent" class="skip-link">Go to Main Content</a>
  <header>
    <div class="logo-restoran">
      <p>Urban Kitchen</p>
    </div>
    <a id="hamburger" tabindex="0">☰</a>
    <nav id="drawer-mobile-menu">
      <ul>
        <li><a href="#/home-page">Home</a></li>
        <li><a href="#/favorite-resto">Favorite</a></li>
        <li><a href="https://www.linkedin.com/in/amelia-devasya17/" tabindex="0">About Us</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <div class="jumbotron">
      <picture>
        <source media="(max-width: 600px)" srcset="./images/sharp/hero-image_2-small.jpg" class="jumbotron-image">
        <img src='./images/sharp/hero-image_2-large.jpg' alt="Jumbotron Image" class="jumbotron-image">
      </picture>
      <div class="jumbotron-content">
        <p class="greeting">Welcome to Urban Kitchen</p>
        <p>Discover the finest flavors from around the world.</p>        
      </div>
    </div>
    <section id="maincontent" tabindex="0"></section>
  </main>

  <footer>
    <div class="footer-content">
      <p>Copyright &copy; 2023 Urban Kitchen</p>
      <ul class="socials">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#"><i class="fa fa-youtube"></i></a></li>
      </ul>
  </div>
  <div class="footer-bottom">
      <p>designed by <span>Amelia Devasya</span></p>
  </div>
  </footer>
</body>

</html>